.tarjetasDeMension {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	margin: 50px auto;
	flex-wrap: wrap;
	gap: 20px;
}
.tarjeta_mension {
	width: 350px;
	height: 450px;
	overflow: hidden;
	margin: auto;
	cursor: pointer;
}
.titulo_mension {
	font-size: 1.5rem;
	font-family: sans-serif;
	width: 100%;
	height: 60px;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #fff;
	text-align: center;
	line-height: 25px;
}
.mension_conten {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.descripcion_mension {
	letter-spacing: 1px;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	font-size: 1.2rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 3;
	display: none;
}
.img_mension {
	width: 100%;
	height: 100%;
	position: relative;
}
.img_mension::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: .3s;
}
.img_mension .mension_img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.tarjeta_mension:hover > .mension_conten .img_mension::after{
	background-color: rgba(0, 0, 0, .7);
}
.tarjeta_mension:hover > .mension_conten .descripcion_mension {
	display: block;
	margin-top: 50px ;
}
.titleBar {
	background-color: rgb(87, 7, 12); /* Color de fondo de la franja */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-size: 2.4rem;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	& h1{
		color: #fff;
		font-weight: 700;
		letter-spacing: 2px;
	}
}

/* footer de la pagina */
.content_footer{
	width: 100%;
	background-color: rgb(87, 7, 12);
}
.text_footer{
	display: flex;
	justify-content: center;
	color: #fff;
	font-family: 'Courier New', Courier, monospace;
	font-size: .7rem;
	gap: 10px;
	padding: 50px 0 0 0;
}
.text_footer .title{
	text-decoration: underline;
}
.contacto{
	padding: 15px 5px;
	& .facebook, & .correo {
		width: 120px;
	}
	& .facebook a, & .correo a{
		color: #fff;
		text-decoration: none;
		margin: 0 0 0 10px;
		display: flex;
		align-items: center;
		transition: .4s;
	}
	& h3{
		font-size: 1rem;
		margin-left: 6px;
	}
	
}
.icono_foo{
	font-size: 1.4rem;
	transition: .4s;
}

.contacto .facebook:hover > a, .contacto .correo:hover > a{
	transform: scale(1.1);
}
.contacto .facebook:hover > a > .icono_foo, 
.contacto .correo:hover > a > .icono_foo {
	transform: scale(1.3);
}